==
<section id="about">
  <img class="sled3" src="{{ 'assets/img/sled3.png'|theme }}">
  <div class="container-fluid">
    <div class="row ">
      <div class="col-xs-12 aboutbg text-center">
          <p class="block-title">О НАС</p>
          <p class="block-note">Методика преподавания Кэмбриджского университета</p>
      </div>
    </div> 

    <div class="row">
      <div class="col-xs-12 text-center wrapprivatesad cktitle">
      <hr>
      {% component 'editable' file="about/description.htm" %}
    <p>&nbsp;</p>
        <hr>
        <p>&nbsp;</p>
        {% component 'editable' file="about/videonote.htm" %}
        <p>&nbsp;</p>
        <p class="log"><a href="http://82.200.155.9" target="_blank" title="">ВОЙТИ</a></p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
      </div>
    </div>

  </div>  
</section>
