==
<section id="ckids">
  <img class="sled4" src="{{ 'assets/img/sled4.png'|theme }}">
  <img class="sled4_0" src="{{ 'assets/img/sled4.png'|theme }}">
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 text-center cambridge">
      <p class="block-title">CAMBRIDGE KIDS</p>
      {% component 'editable' file="ckids/subtitle.htm" %}
      {% component 'editable' file="ckids/midslide.htm" %}
    </div>
  </div> 
  <div class="row">
      <div class="col-xs-10 rasp">
        <div class="row">
          <div class="col-md-4">
            {% component 'editable' file="ckids/block-note1-title.htm" %}  
            {% component 'editable' file="ckids/block-note1.htm" %}  
          </div>
          <div class="col-md-4">
            {% component 'editable' file="ckids/block-note2-title.htm" %}  
            {% component 'editable' file="ckids/block-note2.htm" %}  
          </div>
          <div class="col-md-4">
            {% component 'editable' file="ckids/block-note3-title.htm" %}  
            {% component 'editable' file="ckids/block-note3.htm" %}  
          </div>
        </div>
      </div>        
      <div class="col-xs-2  text-right" >
        <img class="pencel" src="{{ 'assets/img/pencel.jpg'|theme }}" alt="">
      </div>
  </div>
  <div class="row wraplogoped">
    <img class="sled5" src="{{ 'assets/img/sled5.png'|theme }}">
    <div class="col-sx-12 text-center ds3 ">
      <p>&nbsp;</p>
      {% component 'editable' file="ckids/midslide2.htm" %}  
    </div>
  </div> 
</div>    
</section>