==
<footer>
  <div class="container-fluid">
        <div class="row ">
          <div class="col-xs-12 ds9">
              <div class="row frow mar1">
                <div class="col-sm-5 col-md-2"><p class="fntfoot"><strong>Адрес:</strong><br>
                    Республика Казахстан,<br> 050020,  г.Алматы, <br>
                    пр. Достык, 341, <strong>Wellness Club LUXOR.</strong></p></div>
                <div class="col-sm-3 col-md-2"><p class="fntfoot">
                  <strong>Телефоны:</strong><br>
                      +7 701 111 83 10; <br> +7 777 514 05 69
                </p></div>
                <div class="col-sm-4 col-md-2"><p class="fntfoot">
                  <strong>E-mail: </strong><br>
                    info@cambridgekids.kz
                </p></div>
              </div>
          </div>
          
        </div>  
  </div>  
  <img class="footimg" src="{{ 'assets/img/foot1.png'|theme }}"  alt="">
</footer>