==
<section id="preferenes">
  <img class="sled6" src="{{ 'assets/img/sled6.png'|theme }}">
  <img class="sled7" src="{{ 'assets/img/sled7.png'|theme }}">
  <img class="sled8" src="{{ 'assets/img/sled8.png'|theme }}">
<div class="container-fluid">
  <div class="row ">
    <div class="col-sx-12 text-center ds4 ">
      <p>&nbsp;</p>
      <span class="block-title">НАШИ ПРЕИМУЩЕСТВА</span>
      {% component 'editable' file="preferences/midslide1.htm" %}
    </div>
  </div> 
  <div class="clearfix"></div> 
  <div class="flexwrap">
    <div class="tf">
      {% component 'editable' file="preferences/red1.htm" %}  
    </div>
    <div class="tf">
      {% component 'editable' file="preferences/red2.htm" %}  
    </div>
    <div class="tf">
      {% component 'editable' file="preferences/red3.htm" %}  
    </div>    
    <div class="tf">
      {% component 'editable' file="preferences/red4.htm" %}  
    </div>
  </div>

  <p>&nbsp;</p>
  <div class="pref_items">
    <div class="prdiv1">
      <img class="imgpr" src="{{ 'assets/img/pr1.png'|theme }}" alt="">
      {% component 'editable' file="preferences/item1.htm" %}  
    </div>
    <div class="prdiv1">
      <img class="imgpr" src="{{ 'assets/img/pr2.png'|theme }}" alt="">
      {% component 'editable' file="preferences/item2.htm" %}  
    </div>
    <div class="prdiv1">
      <img class="imgpr" src="{{ 'assets/img/pr3.png'|theme }}" alt="">
      {% component 'editable' file="preferences/item3.htm" %}  
    </div>
    <div class="prdiv1">
      <img class="imgpr" src="{{ 'assets/img/pr4.png'|theme }}"  alt="">
      {% component 'editable' file="preferences/item4.htm" %}  
    </div>
    <div class="prdiv1">
      <img class="imgpr" src="{{ 'assets/img/pr5.png'|theme }}" alt="">
      {% component 'editable' file="preferences/item5.htm" %}  
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center">
      <p>&nbsp;</p>
      <!-- <p class="green1"><a href="#" title="">Подробнее</a></p> -->
      <!-- <p>&nbsp;</p> -->
      <p>&nbsp;</p>
    </div>
  </div>  
  <div class="row wrapvideotrans">
    <!-- <img class="sled9" src="img/sled9.png"> -->
    <div class="col-xs-12 text-center ds5 ">
      <p>&nbsp;</p>
      {% component 'editable' file="preferences/midslide2.htm" %}  
    </div>
  </div>  
</div>  
</section>
