==

<section id="schedule">
<div class="container-fluid">

  <div class="row ">
    <div class="col-xs-12 text-center ds6 ">
      <span class="block-title">РАСПИСАНИЕ</span>       
      <span class="block-note">Образовательная программа детского сада</span> 
      {% component 'editable' file="schedule/midslide1.htm" %}  
    </div>
  </div>
  {% component 'editable' file="schedule/group1.htm" %}  
  {% component 'editable' file="schedule/grp1-table.htm" %}

  {% component 'editable' file="schedule/group2.htm" %}  
  {% component 'editable' file="schedule/grp2-table.htm" %}

  {% component 'editable' file="schedule/group3.htm" %}  
  {% component 'editable' file="schedule/grp3-table.htm" %}


</div>  
</section>


